*{margin:0; padding:0;};
input[type="radio"] {
    left: -9999px !important;
}
label { display:block; clear:both;}
#for_all_div{
	float:right;
	margin-top:7px;
	display:none}
	#for_all{
		margin:3px 4px;
		float:left}
		.for_lbl{
			margin-right:10px;
			float:right}
#all{
	padding:0 20px;}
#datepicker{
	margin:20px;
	margin-top:30px;
	float:left}
#ifrsm{width:110px; height:75px;}
#gr_mes{
	position:absolute;
    visibility: hidden;
	bottom:0;
	right:0;
	width:507px;
	height:205px;
	margin:20px;
	margin-left:0;
	background-color:#F9F9F9;
	border:solid 1px #CCC;
	float:right;
	overflow:hidden}
#gr_mes_head
{
	height:31px;
	margin:2px;
	border:solid 1px #CCC;
	background: #333 url(black-tie/images/ui-bg_diagonals-thick_8_333333_40x40.png) repeat 50% 50%;
	color: #EEE;
	text-align:center;
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
#gr_mes_head p{
	margin-top:6px;
	margin-bottom:6px;}
#gr_mes_menu{
	height:16px;
	width:505px;
	font-weight:bold;
	color:#222;}
		#mes_prev{
			float:left;}
		#mes_from{
			float:right;
			text-align:left;
			font-size:12px;
			margin:9px 0;}
		#mes_date{
			float:right;
			font-size:12px;
			margin:9px 0;
			margin-right:10px;}
		#mes_next{
			float:right;}
#mes_bot{
	height:16px;
}
	#add_mes, #rem_mes, #izm_mes{
		float:left;
		padding:3px 6px;
		margin:3px;
		background:#111 url(black-tie/images/ui-bg_glass_40_111111_1x400.png) repeat-x 50% 50%;
		border: 1px solid #777;
		color: #E3E3E3;
		font-weight: 500;
		cursor:pointer;
		z-index:99999999}
	#add_mes{
		margin-left:6px;}
	#izm_mes:hover, #add_mes:hover, #rem_mes:hover{
		background: #1C1C1C url(black-tie/images/ui-bg_glass_55_1c1c1c_1x400.png) repeat-x 50% 50%;
		border: 1px solid black;
		color: white;}
	
	
	#mes_bot span{
		float:left}

#gr_mes_cont{
	margin:0 6px;
	clear:both;
	height:90px;
	padding:5px;
	font-size:13px;
	overflow-y:scroll;
	border:solid 1px #CCC;
	}
	#mes_inp{
		display:none;
		width:489px;
		height:95px;
		position:absolute;
		z-index:999999999;
		margin-right:5px;
		margin-top:18px;
		font-size:13px;
		padding:3px;
		right:0}
.mess{
	position:absolute;
	display:none;
	width:505px;
	margin-top:18px}
#nav_mes{
	position:absolute;
	margin-top:143px;
	margin-left:5px;
	z-index:999999999;
}
#next_mes,#prev_mes,#list_mes{
	float:left;
	cursor:pointer}
#list_mes {
	margin-left:12px
	}
	#mes_tbl{
		display:none;
		clear:both;
		width:470px;
		margin:3px}
		#mes_tbl td{
			border:#D2D2D2 solid thin;
			padding:2px 5px;
			cursor:pointer}
			#mes_tbl td.hov{
			border:#959595 solid thin;
			background-color:#F4F4F4;
			}
		#tablid{
			display:none;
	margin:6px;
	margin-top:18px;
	margin-bottom:0;
	clear:both;
	height:90px;
	font-size:13px;
	overflow-y:scroll;
	overflow-x:none;
	border:solid 1px #CCC;}
#rem_mes .dis, #izm_mes .dis, span .dis, .dis{
		opacity:0.35}
<!-----------------------------

.post{padding:0; width:auto}
.post hr{clear:both}
.title{float:left; margin-top:3px; margin-left:3px}
.date{float:right; font-size:9px; margin-top:8px; margin-right:8px}
.body{clear:both}
.up{height:30px; border:1px solid #CCCCCC; border-bottom:0px; padding:3px; background:url(black-tie/images/ui-bg_diagonals-thick_8_333333_40x40.png) repeat; color:#FFF}
.down{height:auto; border:1px solid #CCCCCC;padding:5px}
#add_body{width:auto; height:16px; padding:4px; border:1px solid #CCCCCC; overflow-x:hidden }
#send{display:none}
#mess{overflow-y:scroll}
#group {margin:20px;}
#gr_tog label{width:64px;}
table{cursor:default}
#info{background: #333 url(black-tie/images/ui-bg_diagonals-thick_8_333333_40x40.png) repeat 50% 50%;; margin:0; padding-top:27px; color:#EAEAEA; cursor:default; display:none; z-index:9; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif}
#funci{width:750px; padding-bottom:15px; padding-top:20px;text-align:left; background-image:url(black-tie/images/bl.png); }
#zag{padding:15px;color:#EAEAEA; margin-left:200px}
.name{padding:5px;border:solid 1px #ABABAB;}
.func{margin-top:0px; margin-left:74px; margin-bottom:10px; margin-right:30px;}
#funci h4{ margin-left:5px; background-color:transparent;}
.fun{ padding:10px; border:solid 0px #ABABAB; margin:5px}
.nomer{float:left; margin-left:30px; margin-top:7px }
#footer{position:absolute; right:15px; top:13px; color:#D5D5D5; font-size:12px}
#footer p{color:#ABABAB; font-size:12px}
span.ui-icon-triangle-1-e{margin-right:10px}
.yy {width:100%; margin-right:0}
#star{display:none; position:absolute; top:72px; right:95px}
#info_but{position:absolute; top:61px; right:23px; height:29px; width:32px}
#uved textarea{ text-align:left; border-color:#ABABAB}
#yeno{ margin-top:7px}
#console{ width:100%; height:30px; position:absolute; bottom:0; background-color:#000; display:none; color:#FEFEFE}

